[%- IF value.is_boolean -%]
[%-     value ? 'true' : 'false' -%]
[%- ELSIF CCM.is_list(value) -%]
[ 
[%     FOREACH item IN value -%]
[%         INCLUDE 'metaconfig/telegraf/value.tt' value=item _ ',' FILTER indent -%]
[%-    END -%]
]
[%- ELSE -%]
[%-     value.is_string ? '"' _ value _ '"' : value -%]
[% END %]
