[% IF desc.exists('casscope') -%]  
casscope [% desc.casscope %]  
[% END -%]  
[% IF desc.exists('cascookie') -%]  
cascookie [% desc.cascookie %]  
[% END -%]  
[% IF desc.exists('cassecurecookie') -%]  
cassecurecookie [% desc.cassecurecookie %]  
[% END -%]
[% IF desc.exists('casgatewaycookie') -%]  
casgatewaycookie [% desc.casgatewaycookie %]  
[% END -%]
[% IF desc.exists('casssoenabled') -%]  
casssoenabled [% desc.casssoenabled ? "on" : "off" %]  
[% END -%]
