[%- FOREACH section IN CCM.contents.pairs -%]
[[% section.key %]]
[%    FOREACH pair IN section.value.pairs -%]
[%-       IF CCM.is_scalar(pair.value) -%]
[%            pair.key %]=[% pair.value %]
[%        END -%]
[%        IF CCM.is_list(pair.value) -%]
[%            pair.key %]=[% pair.value.join("\n    ") %]
[%        END %]
[%-   END -%]
[%- END -%]
